* {
    margin: 0; /*Remove as margens padrão de todos os elementos*/
    padding: 0; /*Remove o preenchimento padrão de todos os elementos*/
    box-sizing: border-box; /*Isso garante que o padding e a borda sejam 
    incluídos no cálculo do tamanho dos elementos*/
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: aliceblue;
    display: flex; /*Utiliza o modelo de leiaute flexbox para o corpo do documento*/
    justify-content: center; /*Centraliza os elementos horizontalmente*/
    align-items: center; /*Centraliza os elementos verticalmente*/
    height: 100vh; /*Define a altura do corpo como 100% da altura da janela de visualização (viewport)*/
}

.card-container{
    display: flex; /*Utiliza o modelo de leiaute flex box para os itens dentro do contêiner*/
    justify-content: space-around; /*Distribui os cartões com espaço igual entre eles*/
    gap: 20px; /*Adiociona um espaçamento de 20 pixels entre os cartões*/
    flex-wrap: wrap; /*Permite que os cartões quebrem a linha quando não couberem na largura disponível*/
    padding: 20px; /*Adiciona um preenchimento de 20 pixels ao redor do contêiner*/
}

.card{
    background-color: rgb(33, 33, 31);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgb(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*Aplica uma transição suave para o efeito
    de transformação de sombra*/
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 6px 20px rgba(255, 255, 255, 0.4)
}

.btn {
    background-color: rgb(194, 214, 220);
    transition: background-color 0.6s ease;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer /* O cursor do mouse vira uma "mãozionha" com o dedo indicador esticado */
}

.btn:hover {
    background-color:rgb(43, 43, 36);
    color: aliceblue;
}

.card h2 {
    color: rgb(190, 190, 190); 
    margin-bottom: 10px; /*Adiciona uma margem inferior de 10 px ao título*/
}

.card p {
    color: rgb(220, 220, 220);
    font-size: 14px;
    margin-bottom: 10px;
}